@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(2 6 23 / 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

[class*="map-copyrights"] {
    display: none !important;
}
